{% extends './base.html' %}

{% block title %} 
    Contacto
{% endblock %}


{% block body %}

  <style>
    .gradient-brand-color {
        background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
        background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
        color: #fff;
    }
    .contact-info__wrapper {
        overflow: hidden;
        border-radius: .625rem .625rem 0 0
    }
    
    @media (min-width: 1024px) {
        .contact-info__wrapper {
            border-radius: 0 .625rem .625rem 0;
            padding: 5rem !important
        }
    }
    .contact-info__list span.position-absolute {
        left: 0
    }
    .z-index-101 {
        z-index: 101;
    }
    .list-style--none {
        list-style: none;
    }
    .contact__wrapper {
        background-color: #fff;
        border-radius: 0 0 .625rem .625rem
    }
    
    @media (min-width: 1024px) {
        .contact__wrapper {
            border-radius: .625rem 0 .625rem .625rem
        }
    }
    @media (min-width: 1024px) {
        .contact-form__wrapper {
            padding: 5rem !important
        }
    }
    @media (max-width: 450px) {
        #imagenAzul{
          width: 380px;
        }
    }
    .shadow-lg, .shadow-lg--on-hover:hover {
        box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
    }
  </style>

    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="contact__wrapper shadow-lg mt-n9">
            <div class="row no-gutters">
                <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                    <center><h3 class="color--white mb-5">Contáctame</h3></center>
                    <ul class="contact-info__list list-style--none position-relative z-index-101">
                      <li class="mb-4 pl-4">
                        <span class="position-absolute"><i class="fas fa-user"></i></span> Aprendiz etapa productiva
                      </li>
                        <li class="mb-4 pl-4">
                            <span class="position-absolute"><i class="fas fa-envelope"></i></span> jonatangutierrez@seti.com.co
                        </li>
                        <li class="mb-4 pl-4">
                            <span class="position-absolute"><i class="fas fa-phone"></i></span> +57 314 297 5647
                        </li>
                        <li class="mb-4 pl-4">
                            <span class="position-absolute"><i class="fas fa-map-marker-alt"></i></span> SETI S.A.S.
                            <br> Equipo Cali
                            <br> Equipo Devops
                        </li>
                    </ul>
                </div>
              
                <div class="col-lg-7 contact-form__wrapper p-3 order-lg-1">
                  <form class="p-4 p-md-4 border rounded-3 bg-light" method="POST" action="{{url_for('signup')}}">
                    <div class="form-floating mb-3">
                      <input type="name" class="form-control" id="NombreFormulario" name="NombreFormulario" placeholder="Ingresa tu nombre" autocomplete="off">
                      <label for="NombreFormulario">Ingresa tu nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" id="numero" min="1" name="numero" placeholder="Número teléfonico" autocomplete="off">
                      <label for="correo">Número teléfonico</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="correo" name="correo" placeholder="Correó electrónico" autocomplete="off">
                      <label for="correo">Correo electrónico</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
                    <hr class="my-4">
                    <center><small class="text-muted">Formulario de prueba en python</small></center>
                  </form>
                </div>

            </div>
        </div>
    </div>




{% endblock %}
