{% extends './base.html' %}

{% block title %} 
    Inicio
{% endblock %}


{% block body %}

        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Jonatan 
                    <span class="text-primary">Gutierrez</span>
                </h1>
                <div class="subheading mb-4">
                    Software developer
                </div>
                <p class="lead mb-5">El Software Developer es la persona encargada de elaborar sistemas informáticos e implementarlos. 
                                    Los desarrolladores de Software escriben código que luego se traduce en un sitio web funcional o una aplicación.</p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/jonatan-stiven-gutiérrez-nieto-7a23502a7/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/jonatangg10/" target="_blank"><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="https://www.instagram.com/_jonatangutierrez/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </section>  

{% endblock %}
